# Local dev via docker-compose: postgres://postgres:postgres@localhost:5432/blog
# Local dev via native Windows install: postgres://postgres:<your-password>@localhost:5432/blog
POSTGRES_URL=
BLOB_READ_WRITE_TOKEN=
ADMIN_PASSWORD=
